html

head
  link(rel='stylesheet' href='./assets/css/bootstrap.min.css')
  link(rel='stylesheet' href='./assets/css/main-style.css')
  link(rel='stylesheet' href='./assets/css/main-components.css')
  link(rel='tylesheet' href='./assets/fonts/fontawesome.ttf')
  
body

  nav.navbar.navbar-grey.navbar-fixed-top
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#nav-menu')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') CPSK Internship
        // Collect the nav links, forms, and other content for toggling
        #nav-menu.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='thailand')
                | Thailand 
                span.sr-only (current)
            li
               a(href='overseas') Oversea
            
          ul.nav.navbar-nav.navbar-right
              form.navbar-form.navbar-left(role='search')
                .input-group.nav-search-group
                  input.form-control.nav-search-input(type='text', placeholder='Find Internship')
                  span.input-group-btn
                    button.btn.btn-grey-to-white(type='button')
                      span.glyphicon.glyphicon-search.nav-search-btn
             
            
        // /.navbar-collapse
      // /.container-fluid

  section.header.main-page-header
    .container.header-content-wrapper
      p.header-content Find your internship!
    .row.triangle-row
      .triangle-rest
      .triangle-left
      .triangle-right
      .triangle-rest
  section.page-content-wrapper
    .container
      .container.place-question
        h1.arabica.place-question-content where would you like to go?
      .col-sm-6.col-lg-6.col-md-6.place-wrapper.place-content-thailand
        a.place(href='thailand')
          .place-content-wrapper
            .place-content
              h1.place-header.arabica Thailand
            .place-content blah blah blah blah blah blah
      .col-sm-6.col-lg-6.col-md-6.place-wrapper-no-boder
        a.place(href='oversea')
          .place-content-wrapper
            .place-content
              h1.place-header.arabica Oversea
            .place-content blah blah blah blah
  section.main-search
    .container.search-content-wrapper
      h1.arabica.search-content Search for the place
      .input-group.search-content-bar
        input.form-control(type='text', placeholder='Field of Work, Country, Programming Language, ...')      
        span.input-group-btn
            button.btn.btn-default(type='button')
              span.glyphicon.glyphicon-search.nav-search-btn
          // /input-group
  section.copyright-wrapper
    .copyright © 2011 SKE09 All Rights Reserved
    

script(src='./assets/js/jquery.js')
script(src='./assets/js/bootstrap.min.js')