doctype html
html
  head
    title Please wait
  body
    h1 Please wait
    script.
      ;(function() {
        var token = !{JSON.stringify(token)};
        window.opener.postMessage(['token', token], '*')
        window.addEventListener('message', function(event) {
          if (event.data[0] == 'loginOK') window.close()
        })
      })()
