include lib/common
html(ng-app='internship')

head
  link(rel='stylesheet' href='/assets/css/bootstrap.min.css')
  link(rel='stylesheet' href='/assets/css/main-style.css')
  link(rel='stylesheet' href='/assets/css/main-components.css')
  link(rel='stylesheet' href='/assets/css/bootstrap-markdown.min.css')
  link(rel='stylesheet' href='/assets/css/select2.min.css')
  link(rel='stylesheet' href='/assets/css/datepicker.css')
  link(rel='tylesheet' href='/assets/fonts/fontawesome.ttf')
  
body
  +navbar
  div(ng-controller='SpecificPlacesController')
    div(ng-repeat='place in place')
      section.header.place-page-header
        .container.header-content-wrapper
          .col-md-7.col-lg-7.col-sm-12
            p.header-content {{place.name}}
            p.header-small-content {{place.full_name}}
            p.header-small-content {{place.address}}
          .col-md-5.col-lg-5.col-sm-12
            .google-maps-wrapper GG maps
      section.page-content-wrapper.overview-page-content-wrapper
        .row
          form
            .panel.panel-default.respository 
              a(href='index').link-on-white home 
              | / 
              a(href='overseas').link-on-white Overseas
              | / 
              a.link-on-white {{place.name}}
              | / Add Review
            .overview-content-header Your review @{{place.name}}
            .col-md-8.col-sm-12.col-lg-8
              .row
                .col-md-6.col-sm-6.col-lg-6
                  .review-topic-header Started Date
                  p.small-description วัน/เดือน/ปี ที่เริ่มการฝึกงาน
                  .date-time-picker-wrapper
                    input#started-date.form-control(data-provide='datepicker', placeholder='Started Date')
                .col-md-6.col-sm-6.col-lg-6
                  .date-time-picker-wrapper
                    .review-topic-header Ended Date
                    p.small-description วัน/เดือน/ปี ที่จบการฝึกงาน
                    input#ended-date.form-control(data-provide='datepicker', placeholder='Ended Date')
              .row.overview.review-box
                .review-topic-header Review
                p.small-description เขียนอธิบายเกี่ยวกับการฝึกงานสามารถใช้ได้ทั้งภาษาไทยและภาษาอังกฤษ โดยมีเนื้อหาแนะนำดังนี้
                p.small-description - เรียนรู้อะไรมาบ้าง
                p.small-description - เป็นการวิจัยหรือทำงานที่บริษัท ประเภทของงาน
                p.small-description - ชีวิตความเป็นอยู่
                p.small-description - คำแนะนำอื่นๆ สำหรับรุ่นน้องที่สนใจ
                input#short-review(type='text', name='short-review',placeholder='รีวิวสั้นๆ ไม่เกิน 140 ตัวอักษร').form-control.short-review
                textarea(name='content', data-provide='markdown',data-hidden-buttons='Preview', rows='20',placeholder='รีวิวอย่างละเอียด ยิบ ยิบ ยิบ ยิบบบบ บบ บ บ ...', required)
                
                  
                

            .col-md-4.col-sm-12.col-lg-4
              .col-md-12.col-lg-12.col-sm-12.panel-grey.tags-row.tags-box
                .rating-header Select Tags
                  p.small-description เลือก Tags ที่เกี่ยวข้องกับการฝึกงาน เช่น ประเทศ, ประเภทของงาน ฯลฯ
                select.col-md-12.col-lg-12.js-example-basic-multiple(multiple='multiple' style='width: 100%;')
                  option(value='AL') Alabama
                  option(value='WY') Wyoming
                  option(value='WY') Wyoming

              .col-md-4.col-sm-4.col-lg-4
              .row.col-md-12.col-lg-12.col-sm-12.panel-grey.tags-row
                .panel.rating-panel.panel-grey
                  .panel-body.rating-header Average of 6 ratings
                  table.col-md-12.col-lg-12.col-sm-12.rating-table
                    tr(ng-repeat='rating in place_rating')
                      td.col-md-6.col-lg-6.col-sm-6.rating-content {{rating.name}}
                        p.small-description {{rating.desc}}
                      td.col-md-6.col-lg-6.col-sm-6.rating-content
                        span.glyphicon.glyphicon-heart.internship-rating
                        span.glyphicon.glyphicon-heart.internship-rating
                        span.glyphicon.glyphicon-heart.internship-rating
                        span.glyphicon.glyphicon-heart.internship-rating
                        span.glyphicon.glyphicon-heart.internship-rating
                        span.glyphicon.glyphicon-heart.internship-rating
                    
        .row
          button.btn.btn-primary.btn-save(type='submit') Submit
  section.copyright-wrapper
    .copyright © 2011 SKE09 All Rights Reserved
  script(src='/assets/js/jquery.js')
  script(src='/assets/js/bootstrap.min.js')
  script(src='/assets/js/angular.min.js')
  script(src='/assets/js/internship.js')
  script(src='/assets/js/bootstrap-markdown.js')
  script(src='/assets/js/select2.min.js')
  script(src='/assets/js/bootstrap-datepicker.js')
  script(src='/assets/js/tags-select.js')
  