include lib/common
+page("Add New Place")(form=true)
  form
    section.header.add-place-page-header
      .container.header-content-wrapper
        .col-md-7.col-lg-7.col-sm-12
          p.header-content
            input#place-name.form-control.form-place-name(type='text', placeholder='ชื่อสถานที่ฝึกงาน',required)
          p.header-small-content
            input#place-fullname.form-control.form-place-fullname(type='text', placeholder='ชื่อเต็มของสถานที่ฝึกงาน (optional)')
          p.header-small-content
            input#place-address.form-control.form-place-address(type='text', placeholder='ที่อยู่ของสถานที่ฝึกงาน')
          input(type='file').hidden
          button#upload-img.btn.btn-danger.btn-add-head-photo
            span.glyphicon.glyphicon-camera
                |  Upload Picture (Recommended 1200x900)
          h4
            span#img-path.label.label-primary.path
              
        
            
    section.page-content-wrapper.overview-page-content-wrapper
      .row
        .panel.panel-default.respository 
            a.link-on-white Home 
            | / 
            a.link-on-white Overseas 
            | / Add New Place
        .row.col-md-12.col-lg-12.col-sm-12
          .row.col-md-4.col-lg-4.col-sm-12
            .overview-content-header Add New Place
            .review-topic-header About
            p.small-description เขียนอธิบายเกี่ยวกับการสถานที่ฝึกงาน
            p.small-description สามารถใช้ได้ทั้งภาษาไทยและภาษาอังกฤษ โดยมีเนื้อหาแนะนำดังนี้
            p.small-description - ข้อมูลทั่วไปของสถานที่ฝึกงาน
            p.small-description - ประเภทของงาน
            p.small-description - คำแนะนำอื่นๆ
          .row.col-md-8.col-lg-8.col-sm-12
            textarea(name='content', data-provide='markdown',data-hidden-buttons='Preview', rows='20',placeholder='สถานที่ฝึกงานเป็นยังไง มีอะไรบ้างงงง งงงง งง ง..', required)
        .row.col-md-12.col-lg-12.col-sm-12.add-place-field-row
          .row.col-md-4.col-lg-4.col-sm-12
            .review-topic-header Website
          .row.col-md-8.col-lg-8.col-sm-12
            input#website(type='text', name='website',placeholder='เว็บของสถานที่ฝึกงาน').form-control
        .row.col-md-12.col-lg-12.col-sm-12.add-place-field-row
          .row.col-md-4.col-lg-4.col-sm-12
            .review-topic-header Location on Google Maps
          .row.col-md-4.col-lg-4.col-sm-12.lat-field
              input#lat(type='text', name='lat',placeholder='ละติจูด').form-control
          .row.col-md-4.col-lg-4.col-sm-12
              input#long(type='text', name='long',placeholder='ลองจิจูด').form-control
    .row.add-place-field-row
      button.btn.btn-primary.btn-save(type='submit') Add New Place