include lib/common
+page('Internship Places')
  div(ng-controller='SpecificPlacesController')
    div(ng-repeat='place in place')
      section.header.place-page-header
        .container.header-content-wrapper
          .col-md-7.col-lg-7.col-sm-12
            p.header-content {{place.name}}
            p.header-small-content {{place.full_name}}
            p.header-small-content {{place.address}}
          .col-md-5.col-lg-5.col-sm-12
            .google-maps-wrapper GG maps
      section.page-content-wrapper.overview-page-content-wrapper
        .row
          button(href='#').btn.btn-big-delete Remove This Place
        .row
          .panel.panel-default.respository 
            a(href='index').link-on-white Home 
            | / 
            a(href='overseas').link-on-white Overseas
            | / {{place.name}}
          .col-md-8.col-sm-12.col-lg-8
            .row.overview
              .overview-content-header About {{place.name}}
                button.btn.btn-primary.btn-edit(type='button')
                  span.glyphicon.glyphicon-edit
                  |  Edit
              .overview-content test
              .overview-content-header Research
              .overview-content test
              .overview-content-header Review
                a(href='add-review')
                  button.btn.btn-primary.btn-edit(type='button', href='add-review')
                    span.glyphicon.glyphicon-pencil
                    |  Write Your Review
              .overview-content
                .panel.panel-default
                  ul.list-group
                    li.list-group-item(ng-repeat='review in short_reviews')
                      button.btn.btn-small-delete
                            span.glyphicon.glyphicon-trash
                      .media
                      .media-left
                        a(href='#')
                          img.media-object(src='assets/img/media.svg')
                      .media-body
                        .row.student-review-info
                          h4.media-heading.student-name {{review.student_name}}
                            small.work-field-and-time  {{review.field}}
                          .work-field-and-time {{review.time}}
                          .short-review
                            span.glyphicon.glyphicon-heart.internship-rating(ng-if='review.rating>=1')
                            span.glyphicon.glyphicon-heart.internship-rating(ng-if='review.rating>=2')
                            span.glyphicon.glyphicon-heart.internship-rating(ng-if='review.rating>=3')
                            span.glyphicon.glyphicon-heart.internship-rating(ng-if='review.rating>=4')
                            span.glyphicon.glyphicon-heart.internship-rating(ng-if='review.rating>=5')
                            span.glyphicon.glyphicon-heart.internship-rating(ng-if='review.rating>=6')
                            | "{{review.review_text}}"
                            a(href="review").readmore » read more
          .col-md-4.col-sm-12.col-lg-4
            .row.col-md-12.col-lg-12.panel-grey.tags-row
              .panel.rating-panel.panel-grey
                .panel-body.rating-header Average of 6 ratings
                table.col-md-12.col-lg-12.col-sm-12.rating-table
                  tr(ng-repeat='rating in place_rating')
                    td.col-md-6.col-lg-6.col-sm-6.rating-content {{rating.name}}
                    td.col-md-6.col-lg-6.col-sm-6.rating-content
                      span.glyphicon.glyphicon-heart.internship-rating
                      span.glyphicon.glyphicon-heart.internship-rating
                      span.glyphicon.glyphicon-heart.internship-rating
                      span.glyphicon.glyphicon-heart.internship-rating
                      span.glyphicon.glyphicon-heart.internship-rating
                      span.glyphicon.glyphicon-heart.internship-rating
                  