include lib/common
+page('Thailand')

  section.header.main-page-header
    .container.header-content-wrapper
      p.header-content Find your internship!
  section.page-content-wrapper
    .container
      .container.place-question
        h1.arabica.place-question-content where would you like to go?
      .col-sm-6.col-lg-6.col-md-6.place-wrapper.place-content-thailand
        a.place(href='thailand')
          .place-content-wrapper
            .place-content
              h1.place-header.arabica Thailand
            .place-content blah blah blah blah blah blah
      .col-sm-6.col-lg-6.col-md-6.place-wrapper-no-boder
        a.place(href='overseas')
          .place-content-wrapper
            .place-content
              h1.place-header.arabica Oversea
            .place-content blah blah blah blah
  section.main-search
    .container.search-content-wrapper
      h1.arabica.search-content Search for the place
      .input-group.search-content-bar
        input.form-control(type='text', placeholder='Field of Work, Country, Programming Language, ...')      
        span.input-group-btn
            button.btn.btn-default(type='button')
              span.glyphicon.glyphicon-search.nav-search-btn
          // /input-group