include lib/common
+page('Thailand')
  div(ng-controller='PlacesController')
    section.header.thailand-page-header
      .container.header-content-wrapper
        p.header-content Thailand
    section.page-content-wrapper.overview-page-content-wrapper
      .row
        .col-md-3.col-sm-3.col-lg-3
          h1.filter-header.arabica Filters
          div(ng-repeat='filter in filters')
            div(class='{{"panel panel-" + filter.color}}')
              .panel-heading.arabica {{filter.title}}
              .panel-body.filter-check-wrapper
                .checkbox(ng-repeat='option in filter.options')
                  label
                    input(type='checkbox')
                    | {{option.text}}


          .panel.panel-orange
            .panel-heading.arabica Working Hours
            .panel-body
              table.filter-check-wrapper
                tr
                  td
                    .filter-check-content 
                      input#germany(type='checkbox', checked='checked', name='country').filter-check
                      | Fixed
                tr
                  td
                    .filter-check-content 
                      input#germany(type='checkbox', checked='checked', name='country').filter-check
                      | Flexible
          .panel.panel-red
            .panel-heading.arabica Programming Language
            .panel-body
              table.filter-check-wrapper
                tr
                  td
                    .filter-check-content 
                      input#germany(type='checkbox', checked='checked', name='country').filter-check
                      | JAVA
                tr
                  td
                    .filter-check-content 
                      input#germany(type='checkbox', checked='checked', name='country').filter-check
                      | PHP
                tr
                  td
                    .filter-check-content 
                      input#germany(type='checkbox', checked='checked', name='country').filter-check
                      | HTML
                tr
                  td
                    .filter-check-content 
                      input#germany(type='checkbox', checked='checked', name='country').filter-check
                      | CSS
                tr
                  td
                    .filter-check-content 
                      input#germany(type='checkbox', checked='checked', name='country').filter-check
                      | Javascript
                tr
                  td
                    .filter-check-content 
                      input#germany(type='checkbox', checked='checked', name='country').filter-check
                      | C
                tr
                  td
                    .filter-check-content 
                      input#germany(type='checkbox', checked='checked', name='country').filter-check
                      | C++
                tr
                  td
                    .filter-check-content 
                      input#germany(type='checkbox', checked='checked', name='country').filter-check
                      | C#
                tr
                  td
                    .filter-check-content 
                      input#germany(type='checkbox', checked='checked', name='country').filter-check
                      | Ruby
                tr
                  td
                    .filter-check-content 
                      input#germany(type='checkbox', checked='checked', name='country').filter-check
                      | Python
                tr
                  td
                    .filter-check-content 
                      input#germany(type='checkbox', checked='checked', name='country').filter-check
                      | .net
                tr
                  td
                    .filter-check-content 
                      input#germany(type='checkbox', checked='checked', name='country').filter-check
                      | Others
        .col-md-9.col-sm-9.col-lg-9
          h1.filter-header.arabica Internship Places
          .panel.panel-default(ng-repeat='place in places')
              ul.list-group
                li.list-group-item.internship-list
                  .media
                    .internship-rating-wrapper
                      p
                        span.glyphicon.glyphicon-heart.internship-rating(ng-if='place.rating>=1')
                        span.glyphicon.glyphicon-heart.internship-rating(ng-if='place.rating>=2')
                        span.glyphicon.glyphicon-heart.internship-rating(ng-if='place.rating>=3')
                        span.glyphicon.glyphicon-heart.internship-rating(ng-if='place.rating>=4')
                        span.glyphicon.glyphicon-heart.internship-rating(ng-if='place.rating>=5')
                        = " "
                        | ({{place.review_count}})
                    .media-left
                      a(href='#')
                        img.media-object(src='assets/img/media.svg', alt='...')
                    .media-body
                      .row.internship-info
                        a(href='place').link-on-white
                          h4.media-heading {{place.full_name}}
                        |     {{place.address}}
                      .tags-wrapper
                        span.label.label-black.tags Thailand
                      .tags-wrapper
                        span.label.label-blue.tags Paid
                      .tags-wrapper
                        span.label.label-green.tags Field of Work
                      .tags-wrapper
                        span.label.label-orange.tags Working Hours
                      .tags-wrapper
                        span.label.label-red.tags Programming Language